<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scam Website Checker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <style>
      .zoomable-image {
        cursor: pointer;
        transition: transform 0.25s ease;
      }

      .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        justify-content: center;
        align-items: center;
      }

      .overlay img {
        max-width: 90%;
        max-height: 90%;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Scam Website Checker</h1>
      <button id="check-urls">Check URLs</button>

      {% if urls_by_date %}
      <h2>Scam Websites Detected:</h2>
      {% for date, urls in urls_by_date.items() %}
      <h3>Date: {{ date }}</h3>
      <ul>
        {% for url in urls %}
        <li>
          <a href="{{ url }}" target="_blank">{{ url }}</a>
          <img
            src="{{ url_for('static', filename='screenshots/' + url.replace('://', '_').replace('/', '_').replace('.', '_') + '.png') }}"
            alt="Screenshot of {{ url }}"
            width="200"
            class="zoomable-image"
            onclick="openOverlay(this.src)"
          />
        </li>
        {% endfor %}
      </ul>
      {% endfor %} {% endif %}
    </div>

    <div id="overlay" class="overlay" onclick="closeOverlay()">
      <img id="overlayImage" src="" alt="Enlarged Image" />
    </div>

    <script>
      function openOverlay(imageSrc) {
        const overlay = document.getElementById("overlay");
        const overlayImage = document.getElementById("overlayImage");
        overlayImage.src = imageSrc;
        overlay.style.display = "flex";
      }

      function closeOverlay() {
        const overlay = document.getElementById("overlay");
        overlay.style.display = "none";
      }

      document
        .getElementById("check-urls")
        .addEventListener("click", function () {
          fetch("/check", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              const container = document.querySelector(".container");
              let html =
                '<h1>Scam Website Checker</h1><button id="check-urls">Check URLs</button>';

              if (Object.keys(data).length > 0) {
                html += "<h2>Scam Websites Detected:</h2>";
                for (const [date, urls] of Object.entries(data)) {
                  html += `<h3>Date: ${date}</h3><ul>`;
                  urls.forEach((url) => {
                    const screenshotFilename = `./static/screenshots/${url
                      .replace("://", "_")
                      .replace("/", "_")
                      .replace(".", "_")}.png`;
                    html += `
                  <li>
                    <a href="${url}" target="_blank">${url}</a>
                    <img
                      src="${screenshotFilename}"
                      alt="Screenshot of ${url}"
                      width="200"
                      class="zoomable-image"
                      onclick="openOverlay(this.src)"
                    />
                  </li>`;
                  });
                  html += "</ul>";
                }
              }

              container.innerHTML = html;
            })
            .catch((error) => console.error("Error:", error));
        });
    </script>
  </body>
</html>
